app = 'splitdumb'
primary_region = 'lax'

[build]

[mounts]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
