app = "splitdumb"
primary_region = "sjc"

[build]

[mounts]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
